body{
    font-family: 'Instrument Serif', serif;
    font-family: 'Roboto Slab', serif; /*declarando fonte para toda a página*/
}

header{
    background: #808080;
    padding: 20px 0;
}

.caixa_link{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px; /*ordem esquerda, baixo, direita e sobre = -> desce <- sobe*/
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: darkblue;
    /*text-decoration: underline;*/
    text-decoration:line-through;
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0; /*espaçamento interno*/
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    /*background: #CCCCCC;*/
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 5px solid #000000; /*mesma coisa que declarar: border-style: solid; border-width: 2px; border-color: #000000;*/
    border-radius: 10px;
}

.produtos li:hover{
    border-color: #707070;
    color: #707070;
}

.produtos li:active{
    border-color: darkblue;
    color: darkblue;
}

.produtos li:hover h2{
    font-size: 35px;
    border-color:  #707070;
    color:  #707070;
}

.produtos li:active h2{
    font-size: 35px;
    border-color:  darkblue;
    color:  darkblue;
}

.produtos li:hover .descricao_produto{
    font-size: 23px;
    color:  #707070;
}

.produtos li:active .descricao_produto{
    font-size: 23px;
    color:  darkblue;
}

.produtos li:hover .preco_produto{
    font-size: 27px;
    color:  #707070;
}

.produtos li:active .preco_produto{
    font-size: 27px;
    color:  darkblue;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.descricao_produto{
    font-size: 18px;
    margin: 10px 0 0;
}

.preco_produto{
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0; /*mesma coisa que margin-top: 10px;*/
}

footer{
    text-align: center;
    /*background: #707070;*/
    background: url("bg.jpg");
    padding: 33px;
    color: #FFFFFF;
}

.copyrigth{
    font-size: 10px;
    margin-top: 20px;
}

.main_contatos{
    width: 940px;
	margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label, form p, form legend{
    display: block;
    font-size: 22px;
    font-weight: bold;
    margin: 0 0 10px;
}

.input_padrao{
    display: block;
    margin: 0 0 20px;
    padding: 15px 20px;
    border: 2px solid #000000;
    border-radius: 10px;
    width: 50%;
}

.opcao_dia, .opcao_hora {
    display: inline-block;
    width: 40%;
}

.opcao_hora {
    margin-left: 10%;
}

.enviar{
    width: 30%;
    padding: 15px 0;
    background-image: url('bg.jpg');
    background-color: transparent;
    color: #FFFFFF;
    border-radius: 10px;
    border: 2px solid #000000;
    font-size: 22px;
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
    cursor: pointer; /*muda da fleca para a mão, a hora que o mouse está encima*/
    transition: 0.5s all; /*controla a alteração definida (background) conforme o tempo definido em segundos(1s)*/
}

.enviar:hover{
    border: 2px solid #000000;
    font-size: 33px;
    width: 35%;
    color: #FFFFFF;
    /*transform: rotate(360deg) scale(1.2); /*transform = transformar, scale = escala - transforma o tamanho - rotate = muda a rotação do objeto*/
}

.enviar:active{
    font-size: 33px;
    background: darkblue;
    color: #000000;
}

table{
    margin: 20px 0 40px;
    font-size: 18px;
    font-weight: bold;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

thead{
    background-image: url('bg.jpg');
    background-color: transparent;
    color: #FFFFFF;
}

td, th{
    border: 1px solid #000000;
    padding: 15px;
}

/*Página inicial*/
.imagemP{
    width: 100%;
}

.titulo_principal{
    text-align: center;
    font-size: 2em; /*em = medida igual ao tamanho original de determinado elemento, neste exemplo queremos que a fonte seja duas vezes maior que a original*/
    margin: 0 0 1em;
    clear: left; /*está limpando o FLOAT LEFT, usado na imagem ferramentas de trabalho, para não afetar mais a posição dos outros elementos*/
}

.apresentacao{
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.apresentacao p{
    margin: 0 0 1em;
}

.apresentacao strong{
    font-weight: bold;
}

.apresentacao em{
    font-style: italic;
}

.ferramentas_trabalho{
    width: 150px;
    float: left; /*elemento está flutuando na página, e com isso, a escrita ficam ao se redor, por todos estarem em uma unica 'caixa'; usamos - float + lugar em que queremos, neste caso left  esquerda*/
    margin: 0 20px 20px 0; /*colocando margem na imagem: seguindo a ordem - 0 para cima, 20px para direita, 20px para baixo, 0 para a esquerda*/
}

.mapa_conteudo{
    padding: 3em 0;
	background: linear-gradient(#FEFEFE, #585858);
}

.mapa{
    width: 940px;
	margin: 0 auto;
}

.mapa p{
    margin: 0 0 2em;
	text-align: center;
}

.lista_beneficios{
    padding: 3em 0;
    background: #585858;
}

.conteudos_beneficios{
    width: 640px;
    margin: auto;
}

.beneficios_lista{
    width: 40%;
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
}

.item_beneficio{
    line-height: 1.5; /*espaçamento entre as linhas*/
    padding: 10px;
}

.item_beneficio:first-child{ /*pega o elemento espeficicado dentro de uma classe, aqui pega a "primeira criança", o primeiro elemento (first-child, last-child...)*/
    font-weight: bold; /*NÃO ESTÁ FUNCIONANDO, POIS DEIXEI TODOS EM NEGRITO NO 'beneficios_lista' - ESTE FICA APENAS DE EXEMPLO*/
}

.item_beneficio:nth-child(3){ /*pega o elemento espeficicado dentro de uma classe, aqui pega o 3º elemento (nth-child(X)), e se colocar um 'n' logo após o número = nth-child(2n) pega todos os elementos pares...*/
    font-weight: bold; /*NÃO ESTÁ FUNCIONANDO, POIS DEIXEI TODOS EM NEGRITO NO 'beneficios_lista' - ESTE FICA APENAS DE EXEMPLO*/
}

.imagem_beneficios{
    width: 60%;
}

.video{
    width: 560px;
    margin: 2em auto;
}
